<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-left">
          <div class="footer-logo">
            <a href="#"><img src="assets/footer-logo.png" alt=""></a>
          </div>
          <ul>
            <li>Địa chỉ: 140 Lê Trong Tấn, Phường Tây Thạnh, Quận Tân Phú, TP.Hồ Chí Minh</li>
            <li>Điện thoại: 0972077481</li>
            <li>Email: nguyenngoclam@gmail.com</li>
          </ul>
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1">
        <div class="footer-widget">
          <h5>Thông tin</h5>
          <ul>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Thanh toán</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Dịch vụ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-widget">
          <h5>Tài khoản của tôi</h5>
          <ul>
            <li><a href="#">Tài khoản</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Giỏ hàng</a></li>
            <li><a href="#">Cửa hàng</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="newslatter-item">
          <h5>Tham gia Bản tin của chúng tôi</h5>
          <p>Nhận cập nhật E-mail để nhận ưu đãi đặc biệt.</p>
          <form action="#" class="subscribe-form">
            <input type="text" placeholder="Nhập vào email của bạn">
            <button type="button">Theo dõi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-reserved">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="payment-pic">
            <img src="assets/payment-method.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
